
<!-- DAY -->
<div *ngIf="calender.view.day"> 
    <button class="col-auto me-sm-4 btn btn-outline-secondary" (click)="changeTime('+');" *ngIf="calender.offset.day.last == false" >
        >
    </button>
</div>

<!-- WEEK -->
<div *ngIf="calender.view.week"> 
    <button class="me-sm-4 btn btn-outline-secondary" (click)="changeTime('+');" *ngIf="calender.offset.week.last == false" >
        >
    </button>
</div>

<!-- MONTH -->
<div *ngIf="calender.view.month"> 
    <button class="me-sm-4 btn btn-outline-secondary" (click)="changeTime('+');" *ngIf="calender.offset.month.last == false" >
    >
    </button>
    <button disabled="true" class="me-4 btn btn-outline-secondary" (click)="changeTime('+');" *ngIf="calender.offset.month.last == true" >
        >
    </button>
</div>

<!-- YEAR -->
<div *ngIf="calender.view.year"> 
    <button class="me-sm-4 btn btn-outline-secondary" (click)="changeTime('+');" *ngIf="calender.offset.year.last == false" >
    >
    </button>
    <button disabled="true" class="me-sm-4 btn btn-outline-secondary" (click)="changeTime('+');" *ngIf="calender.offset.year.last == true" >
        >
    </button>
</div>