

<!-- NEXT -->
<div 
    *ngIf="
        calender.view.day
        || calender.view.week
        || calender.view.month
        || calender.view.year
    "
>
    <button 
        class="btn btn-outline-secondary" 
        (click)="changeTime('+');" 
        *ngIf="
            calender.offset.day.last == false
            || calender.offset.week.last == false
            || calender.offset.month.last == false
            || calender.offset.year.last == false
            "
        >
        <span class="d-none d-md-inline">Nästa&nbsp;</span>
        <span>></span>
    </button>
</div>