

<!-- PREVIOUS -->
<div 
    *ngIf="
        calender.view.day
        || calender.view.week
        || calender.view.month
        || calender.view.year
    "
>
    <button 
        class="btn btn-outline-secondary" 
        (click)="changeTime('-');" 
        *ngIf="
            calender.offset.day.first == false
            || calender.offset.week.first == false
            || calender.offset.month.first == false
            || calender.offset.year.first == false
            "
        >
        <span><</span>
        <span class="d-none d-md-inline">&nbsp;Föregående</span>
    </button>
</div>

