
<div class="container-fluid bg-light border-bottom ">
    
        <div class="container p-0 m-0 px-3 py-2 mx-auto d-flex justify-content-center gap-3">

            <!-- YEAR -->
            <button class="btn btn-outline-secondary active" (click)="changeView('year');" *ngIf="calender.view.year">   
                <i class="bi bi-check-circle me-2"></i>
                <span>År</span>
            </button>
            <button class="btn btn-outline-secondary" (click)="changeView('year');" *ngIf="calender.view.year == false">
                År
            </button>

            <!-- MONTH -->
            <button class="btn btn-outline-secondary active" (click)="changeView('month');" *ngIf="calender.view.month">
                <i class="bi bi-check-circle me-2"></i>
                <span>Månad</span>
            </button>
            <button class="btn btn-outline-secondary" (click)="changeView('month');" *ngIf="calender.view.month == false">
                Månad
            </button>

            <!-- WEEK -->
            <button class="btn btn-outline-secondary active" (click)="changeView('week');" *ngIf="calender.view.week">
                <i class="bi bi-check-circle me-2"></i>
                <span>Vecka</span>
            </button>
            <button class="btn btn-outline-secondary" (click)="changeView('week');" *ngIf="calender.view.week == false">
                Vecka
            </button>

            <!-- DAY -->
            <button class="btn btn-outline-secondary active" (click)="changeView('day');" *ngIf="calender.view.day">
                <i class="bi bi-check-circle me-2"></i>
                <span>Dag</span>
            </button>
            <button class="btn btn-outline-secondary" (click)="changeView('day');" *ngIf="calender.view.day == false">
                Dag
            </button>

  

        </div>
        
        
</div>