


<!-- | DAY | -->
<div class="container-fluid p-0 m-0 bg-light border-bottom">
    <div class="container d-flex px-3 py-2 align-items-center justify-content-between" *ngIf="calender.offset.day as day;">
        <prev-btn-item class="col-auto"></prev-btn-item>

        <div class="d-flex text-center align-items-center">
            <div class="h4 p-0 m-0 d-none d-sm-block">
                {{ day.name }}
                {{ day.day }}
                {{ calender.offset.month.name }}
                {{ calender.offset.year.id }}
            </div>
            <div class="h4 p-0 m-0 d-block d-sm-none">
                {{ day.name }}
                {{ day.day }}
                {{ calender.offset.month.nameShort }}
                {{ calender.offset.year.id }}
            </div>

            <today-btn-item class="d-block p-0 m-0 ms-2"></today-btn-item>
        </div>
        
        <next-btn-item class="col-auto"></next-btn-item>
        
    </div>
</div>

<div class="container d-flex p-0 m-0 px-3 py-2 mx-auto border-bottom align-items-center gap-2" *ngIf="calender.offset.day as day">
    <div class="w-15 w-md-10 w-lg-10">
        Dag
    </div>
    <div class="w-20 w-md-15 w-lg-10">
        Starttid
    </div>
    <div class="w-20 w-md-15 w-lg-10">
        Sluttid
    </div>
    <div class="w-15 w-md-10 w-lg-5">
        Paus
    </div>
    <div class="w-15 w-md-10 w-lg-10">
        Totalt
    </div>
    <div class="col d-none d-md-block">
        Info
    </div>
  
</div>

  <div class="container p-0 m-0 px-3 py-2 mx-auto border-bottom" *ngIf="calender.offset.day as day">
    <div class="d-flex align-items-center gap-2 flex-wrap">
        <div class="w-15 w-md-10 w-lg-10 {{day.current ? 'text-info' : ''}}">
            <span>{{ day.name }}</span>
            <small class="d-block d-lg-inline text-nowrap">
                    ({{ day.day }} {{ day.month.nameShort }})
            </small>
        </div>

        <!-- Set hours -->
        <div class="w-20 w-md-15 w-lg-10">
            <input class="form-control" id="start-input" [value]="day.start" #startTimeDay (change)="calenderController.calcSum(day, startTimeDay.value, 'start');" (input)="calenderController.validate(day, startTimeDay.value, 'start');">
        </div>
        <div class="w-20 w-md-15 w-lg-10">
            <input class="form-control" id="end-input" [value]="day.end" #endTimeDay (change)="calenderController.calcSum(day, endTimeDay.value, 'end');" (input)="calenderController.validate(day, endTimeDay.value, 'end');">
        </div>
        <div class="w-15 w-md-10 w-lg-5">
            <input class="form-control" id="end-input" [value]="day.subtract" #subtractTimeDay (change)="calenderController.calcSum(day, subtractTimeDay.value, 'sub');" (input)="calenderController.validate(day, subtractTimeDay.value, 'sub');">
        </div>

        <div class="w-15 w-md-10 w-lg-10">
            {{ day.hours }}
        </div>

        <div class="w-15 d-block d-md-none">
            Info
        </div>
        
        <!-- Set info -->
        <div class="col">
            <input class="form-control" id="day-input" [value]="day.info" #infoDay (change)="calenderController.setInfo(day, infoDay.value);">
        </div>

        <div class="w-auto">
            <button *ngIf="day.empty==false" class="btn btn-outline-danger" id="" (click)="calenderController.clear(day); startTimeDay.value=''; endTimeDay.value=''; subtractTimeDay.value=''">
                Rensa
            </button>
        </div>
        
    </div>
       
</div>
