



<!-- | MONTH | -->
<div class="container-fluid p-0 m-0 bg-light border-bottom" *ngIf="!calenderController.isLoading">

    <div class="container d-flex px-3 py-2 align-items-center justify-content-between">
        <prev-btn-item class="col-auto"></prev-btn-item>
     

         <div class="d-flex text-center align-items-center" >
            <div class="d-block h4 p-0 m-0">
                {{ calender.offset.month.name }}  {{ calender.offset.year.id }}

            </div>

            <today-btn-item class="d-block p-0 m-0 ms-2"></today-btn-item>
        </div>

        <next-btn-item class="col-auto"></next-btn-item>
        
    </div>


    <month-component [calender]="calender"></month-component>
    
</div>