
<!-- | HEADLINE | -->
<!-- 
<div class="container-fluid mb-4">
    <div class="row">
        <h4 class="col-12">
            Calender
        </h4>
    </div>
</div>
-->


<!-- | VIEW LEVELS | -->
<view-item></view-item>

<!-- | DAY | -->
<day-view-item [calender]="calender"></day-view-item>
<!-- | WEEK | -->
<week-view-item [calender]="calender"></week-view-item>
<!-- | MONTH | -->
<month-view-item [calender]="calender"></month-view-item>
<!-- | YEAR | -->
<year-view-item [calender]="calender"></year-view-item>




<!-- | | -->