



<!-- | MONTH | -->
<div class="row">
    <div class="col px-1 px-md-3 pb-4 border d-none d-md-inline"></div>
    <div class="col px-1 px-md-3 pb-4 border d-none d-md-inline" *ngFor="let name of calender.dayNames; index as k;">
        <div>{{ name }}</div>
           
    </div>
    <div class="col px-1 px-md-3 pb-2 border d-inline d-md-none" *ngFor="let name of calender.dayNamesShort; index as k;">
        <div>{{ name }} </div>
    </div>
    <div class="col px-1 px-md-3 pb-4 border d-none d-md-inline"></div>
    <div class="w-100"></div>
    
</div>

<div class="row" *ngFor="let week of calender.offset.month.weeks; index as j;">
    <!--<div class="col-12 py-2 border d-inline d-md-none">Vecka&nbsp;{{ week.id }}</div>-->

    <div class="col px-1 px-md-3 pb-4 border d-none d-md-inline">v.{{ week.id }}</div>
    <div class="col px-1 px-md-3 pb-2 border" *ngFor="let day of week.days; index as k;" >
        
        <!-- If (today) -->
        <div class="text-info d-none d-md-inline" *ngIf="day.current">
            <small *ngIf="day.month.id == calender.offset.month.id" >{{ day.day }}&nbsp;<div *ngIf="day.day==1">{{ day.month.nameShort }}</div></small>
            <small *ngIf="day.month.id != calender.offset.month.id" class="text-muted">{{ day.day }}&nbsp;<div *ngIf="day.day==1">{{ day.month.nameShort }}</div></small>
            <small *ngIf="!k"><small>&nbsp;(v.{{ week.id }})</small></small>
        </div>
        <!-- Else (other day) -->
        <div class="d-none d-md-inline" *ngIf="day.current==false">
            <small *ngIf="day.month.id == calender.offset.month.id" >{{ day.day }}&nbsp;<div *ngIf="day.day==1">{{ day.month.nameShort }}</div></small>
            <small *ngIf="day.month.id != calender.offset.month.id" class="text-muted">{{ day.day }}&nbsp;<div *ngIf="day.day==1">{{ day.month.nameShort }}</div></small>
            <small *ngIf="!k"><small>&nbsp;(v.{{ week.id }})</small></small>
        </div>

        <!-- Mobile -->
        <!-- If (today) -->
        <div class="text-info d-inline d-md-none" *ngIf="day.current">
            <small *ngIf="day.month.id == calender.offset.month.id" >{{ day.day }}&nbsp;<small *ngIf="day.day==1">{{ day.month.nameShort }}</small></small>
            <small *ngIf="day.month.id != calender.offset.month.id" class="text-muted">{{ day.day }}&nbsp;<small *ngIf="day.day==1">{{ day.month.nameShort }}</small></small>
            <small *ngIf="!k"><small>&nbsp;(v.{{ week.id }})</small></small>
        </div>
        <!-- Else (other day) -->
        <div class="d-inline d-md-none" *ngIf="day.current==false">
            <small *ngIf="day.month.id == calender.offset.month.id" >{{ day.day }}&nbsp;<small *ngIf="day.day==1">{{ day.month.nameShort }}</small></small>
            <small *ngIf="day.month.id != calender.offset.month.id" class="text-muted">{{ day.day }}&nbsp;<small *ngIf="day.day==1">{{ day.month.nameShort }}</small></small>
            <small *ngIf="!k"><small>&nbsp;(v.{{ week.id }})</small></small>
        </div>



    
        <!-- Linebreak -->
        <div class="w-100"></div>
        <div class="col-12 d-inline d-md-none">
            <small *ngIf="day.empty==false"><small>{{ day.hours }}</small></small>
            <small *ngIf="day.empty==true"><small>{{ '&nbsp;' }}</small></small>
        </div>
        <div class="col-12 d-none d-md-inline" *ngIf="day.empty==false">
            <small><small> {{ day.start + ' - ' + day.end + ' (' + day.subtract + 'min)'}} </small></small>
            <small><small> <br/> {{ day.info }} </small></small>
        </div>
        <div class="col-12 d-none d-md-inline" *ngIf="day.empty==true">
            <small><small> {{ '&nbsp;'}} </small></small>
        </div>
        
        
    </div>
    <div class="w-100 d-inline d-md-none"></div>
    <div class="col d-inline d-md-none"></div>
    <div class="col-auto py-1 d-inline d-md-none"> {{ week.hours }}</div>
    <div class="col px-1 px-md-3 pb-4 border d-none d-md-inline" *ngIf="week.empty==false">
        {{ week.hours }}
    </div>
    <div class="col px-1 px-md-3 pb-4 border d-none d-md-inline" *ngIf="week.empty==true"></div>
    <div class="w-100"></div>
</div>

<div class="row py-2 border">
    <div class="col"></div>
    <div class="col-auto me-2 py-2" >
        Totalt: {{ calender.offset.month.hours }}

    </div>

</div>